<%= render 'shared/errors', resource: @user %>
<%= form_with model: @user, local: true do |form| %>
  <p>
    <%= form.label "Your name" %>
    <%= form.text_field :name, id: :name %>
  </p>

  <p>
    <%= form.label :email %>
    <%= form.text_field :email, id: :email %>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password %>
  </p>

  <p>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
  </p>

  <p><%= form.submit 'Create'%></p>
<% end %>