<div class="tests-container">
<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>
<p>
  <strong>Level:</strong>
  <%= test_level(@test.level)%>
</p>
<table>
  <%= button_to 'Back', tests_path, method: :get%>
  <%= button_to 'New question',  new_test_question_path(@test), method: :get%>
</table>
<%= render 'questions/questions'%>
  </div>